html {
    box-sizing: border-box;
    font-family: $primary_font;
    font-family: $primary_font , sans-serif;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    color: $black_color;
    background-color: $bg_color;
    
    text-align: center;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    overflow: hidden;//para evitar el scroll
    }


.ocultar{
    display: none;
}

button{
    background-color: rgb(201, 9, 31);
    display: inline;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    color: whitesmoke;
    border: none;

    &:hover{
        scale: (1.2);
    }
}