/* LUCES */
.luz {
    transition: opacity 0.3s, fill 0.3s;
}

    .blanca{
        fill: whitesmoke;
        filter: drop-shadow(0 0 5px rgb(255, 255, 255)) drop-shadow(0 0 2px rgb(255, 255, 255));
    }
    .amarilla {
        fill: rgb(222, 176, 8);
        filter: drop-shadow(0 0 5px rgb(222, 176, 8)) drop-shadow(0 0 2px rgb(222, 176, 8));
    }
    .azul {
        fill: rgb(4, 134, 255);
        filter: drop-shadow(0 0 5px rgb(4, 134, 255)) drop-shadow(0 0 2px rgb(4, 134, 255));
    }
    .roja {
        fill: rgb(255, 4, 4);
        filter: drop-shadow(0 0 5px rgb(255, 4, 4)) drop-shadow(0 0 2px rgb(255, 4, 4));
    }
    .verde {
        fill: rgb(66, 255, 4);
        filter: drop-shadow(0 0 5px rgb(66, 255, 4)) drop-shadow(0 0 2px rgb(66, 255, 4));
    } 
    .rosada {
        fill: rgb(239, 13, 186);
        filter: drop-shadow(0 0 5px rgb(239, 13, 186)) drop-shadow(0 0 2px rgb(239, 13, 186));
    }


