
//Colores

$bg_color:rgb(19, 12, 55);


$secondary_color_dark:#7bc0f8;
$secondary_color_light:#9bd8d9;

$black_color:#282733;
$white_color:#fef2e2;



//font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gwendolyn:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

$primary_font:'Poppins' , sans-serif ;
$secondary_font: 'Dancing Script',sans-serif ; 
$tertiary_font: 'Londrina Solid', sans-serif;


// Tamaños de Media Queries
$telefono: 480px;
$tablet: 768px;
$tabletXL: 1024px;
$desktop: 1280px;
$desktopXL: 1600px;

// Cálculo de valores ajustados
$tablet-min: $telefono + 1;
$tabletXL-min: $tablet + 1;
$desktop-min: $tabletXL + 1;
$desktopXL-min: $desktop + 1;

// Mixins para Media Queries

// Mixin para móviles (hasta 480px)
@mixin telefono {
    @media (max-width: $telefono) {
        @content;
    }
}

// Mixin para tabletas (desde 481px hasta 768px)
@mixin tablet {
    @media (min-width: $tablet-min) and (max-width: $tablet) {
        @content;
    }
}

// Mixin para tabletas grandes / escritorios pequeños (desde 769px hasta 1024px)
@mixin tabletXL {
    @media (min-width: $tabletXL-min) and (max-width: $tabletXL) {
        @content;
    }
}

// Mixin para escritorios medianos (desde 1025px hasta 1280px)
@mixin desktop {
    @media (min-width: $desktop-min) and (max-width: $desktop) {
        @content;
    }
}

// Mixin para escritorios grandes (desde 1281px hasta 1600px)
@mixin desktopXL {
    @media (min-width: $desktopXL-min) and (max-width: $desktopXL) {
        @content;
    }
}

// Mixin para pantallas ultra anchas (desde 1601px en adelante)
@mixin desktopXXL {
    @media (min-width: $desktopXL-min) {
        @content;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}


//!mixin de tamaños varios :

@mixin pequenos {
    @media (max-width: $tablet) {
        @content;
    }
}